<div id = "mobile">

<div style="background-image: url('images/headerbg.jpg');">
<h2 class= logo><img src="images/he2.jpeg"></h2>
    <div id= menuoptions>
            <a href= "/"><img src="images/main.png" id= "menuimg"></a>
            <a href="/login"> <img src="images/login.png" id= "menuimg"></a>
            <a href="/registration"> <img src="images/signup.jpg" id= "menuimg"></a>
            <a href="/MealPkg"> <img src="images/mealpkg.jpg" id= "menuimg"></a>
        </div>
        </div>
          </br>
<body>
  <div class="herodiv">
<img src="images/eat.png" id= "main1">
</div>

<h3 id="maintitle">Our Goal </h3>
<div id="left">
<p id="mainpar">We tend to bring the best quality and healthy prepared meals to our customers.
   This company strives for a healthy world.All the food you get contains all the deseried nutrients.
</p>
</br></br>
<h3 id="maintitle">About Us</h3>
<p>We are a group of young entreprenurs with a goal to make everyone fit and healthy. 
  As everyone knows haeth is wealth, similarly,we are trying to get a recognition.
  If you like our stuff,let us know at our social handles given below.
  Fitness page coming soon.
</p>
</br></br></br></br></br>
</div>
<div id="right">
  <img src="images/logo.jpg" id= "rightimg">

</div>

<div id="menuitems">
<p id="topdeal">Our Top Deals!!!</p>
  
</div>


<div style="background-image: url('images/footer.png');" id="footer"> 
<footer >

<p id="foot">For any business related queries,
  Contact Us at batraaashu3@gmail.com <br>
  Copyright © Fall 2020, Aashu Batra, WEB322NAA
  </p>
</footer>

<div id= "socialmediafootdiv">
  <a href="https://www.facebook.com/"> <img src="images/facebook.jpg" id= "socialmediafoot"></a>
  <a href="https://www.instagram.com/"> <img src="images/instagram.jpg" id= "socialmediafoot"></a>
</div>
</div>
</body>
</div>